<div style="height:80vh;" class="w-100 d-flex justify-content-center align-items-center" >
    <div style="width: 1000px;" class="shadow bg-dark row rounded p-5  align-items-center ">
        <div class="col-lg-6"><img height="400px"width="" src="https://img.lovepik.com/element/45009/1953.png_300.png" alt=""></div>
        
        <div class="col-lg-6 ">
           <form (ngSubmit)="login()" #loginForm="ngForm" class="rounded p-5 border">
           
                    <h1 class="mb-5 text-light fs-3 fw-bolder ">Login Form</h1>
                    <div class="form-floating mb-3">
                        <input #useremail="ngModel" name="email" [(ngModel)]="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" email required>
                        <label for="floatingInput">Email address</label>
                      </div>

                      <div *ngIf="useremail.invalid && useremail.touched" class="text-danger fw-bolder mb-3">*invalid email</div>

                      <div class="form-floating mb-3">
                        <input #userpswd="ngModel" name="password" [(ngModel)]="password" type="password" class="form-control" id="floatingPassword" placeholder="Password" pattern="[a-zA-Z0-9]*" required>
                        <label for="floatingPassword">Password</label>
                      </div>

                      <div *ngIf="userpswd.invalid && userpswd.touched" class="text-danger fw-bolder mb-3">*invalid password</div>

                     <div class="d-grid">
                         <button [disabled]="loginForm.invalid" type="submit" class="button btn btn-warning w-100 text-light fs-4">Login</button>
                     </div>
           </form>
        </div>
    </div>
</div>




<!-- <div class="bg-dark p-5 w-100">
    <div class="row d-flex align-items-center w-100">
        <div class="col-6 p-5"><img height="400px"width="" src="https://img.lovepik.com/element/45009/1953.png_300.png" alt=""></div>
        
        <div class="col-6 ps-5">
            <div class="border p-5">
                <h1 class="mb-5 text-light fs-3 fw-bolder ">Login Form</h1>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                  </div>
                  <div class="button btn btn-warning w-100 text-light fs-4">Login</div>
            </div>
        </div>
    </div>
</div> -->
